

<footer>
  <div class="row">
    <div class="col">
      <!-- <img src="assets/images/logounitedlast.png" alt="logo" class="logo"> -->
      <div class="content">
        <h2>United</h2>
        <h2>United</h2>
      </div>
   
    </div>
    <div class="col">
      <h3>
        More About Us 
        <div class="underline"><span></span></div>
      </h3>
      <ul>
        <li><a href="#">Who Are We?</a></li>
        <li><a href="#">Work Times</a></li>
        <li><a href="#">Join Our Team</a></li>
      </ul>
      
      
      
    </div>
    <div class="col">
      <h3>Our Services<div class="underline"><span></span></div></h3>
      <ul>
        <li><a href="#">Shipping</a></li>
        
      </ul>
    </div>
    <div class="col">
      <h3>Media<div class="underline"><span></span></div></h3>
      <ul>
        <li><a href="#">Articles</a></li>
        <li><a href="#">Images</a></li>
        <li><a href="#">Videos Library</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>Help<div class="underline"><span></span></div></h3>
      <ul>
        <li><a href="#">Terms Of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Shipping Terms</a></li>
        <li><a href="#"> Return Policy</a></li>
        <li><a href="#">Contact Us</a></li>
        
      </ul>
    </div>
    <div class="social-icons">
      
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-whatsapp"></i>
      <i class="fab fa-pinterest"></i>
    </div>
  </div>
  <hr>
  <p class="copyright">All Rights Are Save 2022 © UNITED</p>
</footer>