<div class="services">
    <h1>Our Services</h1>
    <p>With Our Services, We Open New Horizons To Shopping And Integrated E-Commerce</p>
    <div class="maindiv">
        <div [class.serviceslist]="i%2==0" *ngFor="let service of servicesList let i =index;"[class.rtl]="i%2!=0">
        
       <div>
        <div class="col">
            <h3>{{service.title}}</h3>
             <p>{{service.content}}</p>
        </div>
        <img [src]="service.img">
       </div>
        </div>
    </div>
    </div>
