
.services {
    text-align: center;
   
    
}
.services h1{
    letter-spacing:3px;
    color: aquamarine;
margin-top: 10%;
font-size: 50px;
font-weight: bolder;
}
.services p{
    letter-spacing: normal;
    margin-top: 50px;
    font-size: 30px;
    color: #fff;
}
.col p{
    margin-top: 5px;
    line-height: 30px;
    color: rgb(56, 52, 52);
  padding: 10px;
    font-size: small;
    width: 60%;
    
}
.col h3{
    padding: 10px;
    font-size: 60px;
    line-height: normal;
    color: aquamarine;
    font-weight: bolder;
    padding-left: 50px;
    width: 60%;
    text-align: center;
}
.maindiv{
    margin-top: 50%;
}
.serviceslist{

    position: relative;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height:300px;
    margin-top: 100px;

}
.serviceslist img{
   position: absolute;
   top: 0;
   right: 0;
    width: 400px;
    height: 400px;
    object-fit: contain;
    display: flex;
}
.rtl{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height:300px;
    margin-top: 200px;
    direction: rtl;
    position: relative;
}

.rtl img{
  
    width: 400px;
    height: 400px;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}