<div class="contactUs">
<h1>Contact Us</h1>
<p>Do You Have Any Questions ? Are You Facing A Problem? Tell Us How We Can Help You.

</p>

</div>
<div class="contactForm">
<div>
    <h2>Contact Us</h2>
<h3>Let's Be In Touch!</h3>
<p>Have A Question? Send Us Your Inquiry...</p>
<form>
    <input placeholder="Full Name" type="text">
    <input placeholder="Email" type="email">
    <input placeholder="Telephone" type="tel">
    <input placeholder="Message Title" type="text">
    <textarea placeholder="Message"></textarea>
    <button type="submit">Send</button>
</form>
</div>
<div>
    <img src="../../assets/images/contactus.jpg">
</div>
</div>