<div class="loginForm">
    <h1>Sign Up</h1>
<form>
    <input type="text" placeholder="Enter Your Full Name...">
    <input type="email" placeholder="Enter Your Email...">
    <input type="tel" placeholder="Enter Your Telephone">
    <input type="password" placeholder="Enter Your Password...">
    <input type="password" placeholder="Confirm Your Password...">
    
    <div class="rememberMe">
        <input type="checkbox">
        <span>I agree Of Terms Of Use And Privacy</span>
     
    </div>
   
    <button>Create An Account</button>
    <label>Already Have An Account? <a routerLink="/login">Sign In</a></label>
</form>
